
main{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  overflow: auto;
}

/* Titulo de la pagina principal del apartado*/
.titulo{
  width: 90vw;
  height: 20vh;
  color: white;
  background-color: #1C2C5B;
  display: flex;
  align-items: center;
  justify-content: center;
  /* Separa cada letra*/
  letter-spacing: 5px;
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style: normal; 
}

/* Contenedor general de todos los elementos */
.contenedor_estructuras{
    display: flex;
    flex-wrap: wrap;       
    gap: 20px;             
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding: 20px;
}

/* Contenedor individuaal de cada modal*/
.estructura{
    flex: 1 1 300px;        /* base 300px, pero puede crecer o reducir */
    max-width: 350px;       /* límite para que no se estiren demasiado */
    aspect-ratio: 1 / 1;    /* mantiene proporción cuadrada */
    display: flex;
    align-items: center;
    justify-content: center;
}

.estructura_2 {
    flex: 1 1 300px;
    max-width: 350px; 
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2em;
    background: #f5f7ff;
    border-left: 10px solid #1c2c5b; /* acento lateral */
    border-radius: 15px;
    box-shadow: 0 6px 15px rgba(0,0,0,0.15);
    color: #1c2c5b;
}



/* Imagen dentro de cada bloque */
.estructura img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* Parte responsiva*/
@media (max-width: 768px) {
  .titulo {
    font-size: 1rem;
    letter-spacing: 2px;
    text-align: center;
    padding: 10px;
  }

  .estructura {
    flex: 1 1 100%;     
    max-width: 100%;
  }

  .estructura_2{
    flex: 1 1 100%;     
    max-width: 100%;
  }

}

/* Diseño para el texto que explica los tipos de organigramas */
.estructura_2 p{
  text-align: center;
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

