/* Reseteo de pagina, para evitar malas posiciones*/
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

/*Formato de body*/
body{
  background-color: #1e1e1e ;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}



/* Diseño de formulario */ 
.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 500px;
  background-color: #f0f0f0;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 20px;
  position: relative;
}

.title {
  font-size: 28px;
  color: #3654ff ;
  font-weight: 600;
  letter-spacing: -1px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 30px;
}

.title::before,.title::after {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  border-radius: 50%;
  left: 0px;
  background-color: #3654ff ;
}

.title::before {
  width: 18px;
  height: 18px;
  background-color: #3654ff ;
}

.title::after {
  width: 18px;
  height: 18px;
  animation: pulse 1s linear infinite;
}

.message, .signin {
  color: rgba(88, 87, 87, 0.822);
  font-size: 14px;
}

.signin {
  text-align: center;
}

.signin a {
  color: #3654ff ;
}

.signin a:hover {
  text-decoration: underline #3654ff ;
}

.flex {
  display: flex;
  width: 100%;
  gap: 6px;
}

.form label {
  position: relative;
}

.form label .input {
  width: 100%;
  padding: 10px 10px 20px 10px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 10px;
}

.form label .input + span {
  position: absolute;
  left: 10px;
  top: 15px;
  color: grey;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}

.form label .input:placeholder-shown + span {
  top: 15px;
  font-size: 0.9em;
}

.form label .input:focus + span,.form label .input:valid + span {
  top: 30px;
  font-size: 0.7em;
  font-weight: 600;
}

.form label .input:valid + span {
  color: green;
}

.submit {
  border: none;
  outline: none;
  background-color: #3654ff;
  padding: 10px;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  transform: .3s ease;
}

.submit:hover {
  background-color: rgb(56, 90, 194);
}

@keyframes pulse {
  from {
    transform: scale(0.9);
    opacity: 1;
  }

  to {
    transform: scale(1.8);
    opacity: 0;
  }
}

/* Espacio de la notificacion*/

.notificacion{
  margin: 2em;
}

/* Boton para dirigir al ingreso de usuarios*/

.button {
  background-color: #ffffff00;
  color: #fff;
  width: 15em;
  height: 2.9em;
  border: #3654ff 0.2em solid;
  border-radius: 11px;
  text-align: center;
  transition: all 0.6s ease;
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 20px;
}

.button:hover {
  background-color: #3654ff;
  cursor: pointer;
}

.text {
  margin: 0 1.5em
}

